@font-face {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Nunito Regular'), local('Nunito-Regular'), url(https://fonts.gstatic.com/s/nunito/v12/XRXV3I6Li01BKofINeaBTMnFcQ.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}


//Variables
$pageColor-lightest: hsl(250,26%,85%);      //Accent colour
$pageColor-light: hsl(250,26%,65%);         //Accent colour
$pageColor-medium: hsl(250,26%,45%);        //Accent colour
$pageColor-dark: hsl(250, 26%, 15%);        //Colour used for text
$pageColor-shadow: hsl(250,26%,30%);        //Colour used for creating a box-shadow effect


//Tag Selectors
* {
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
}

body {
    background-color: hsl(250,21%,92%);
    overflow-x: hidden;
    width: 100%;
}

header {
    background-color: $pageColor-medium;
    box-shadow: 0 5px 5px $pageColor-shadow;
    height: 40px;
    padding: 20px 5px;
    margin-bottom: 50px;
}

h1 {
    border-bottom: 1px solid $pageColor-dark;
    display: inline-block;
    height: 40px;
    margin-left: 20px;
}

h1, h2, h3, h4 {
    @extend .text;
}

li {
    @extend .text;
    margin-left: 20px;
    margin-bottom: 0.5rem;
}

main {
    margin: 0 auto;
    max-width: 1920px;
    width: 95%;
}

p {
    @extend .text;
    margin-bottom: 1rem;
}

section {
    background-color: $pageColor-light;
    border: 2px solid $pageColor-dark;
    border-radius: 5px;
    margin-bottom: 30px;
    padding: 10px 15px;
}

tr {
    height: 30px;
    width: 95%;

    td {
        border: 1px solid $pageColor-dark;
        border-collapse: collapse;
        color: $pageColor-dark;
        padding: 0 5px;
    }
    
    th {
        border: 1px solid $pageColor-dark;
        border-collapse: collapse;
        background-color: $pageColor-medium;
        color: $pageColor-dark;
        font-size: 1.25rem;
        padding: 0 5px;
        text-align: center;
    }
}


//Class selectors
.backLink {
    background-color: $pageColor-lightest;
    color: $pageColor-dark;
    border-radius: 5px;
    float: right;
    margin-right: 30px;
    padding: 8px 30px;
    font-size: 1.25rem;
    text-align: center;
    text-decoration: none;

    &:hover {
        box-shadow: 0 0 8px $pageColor-dark;
    }
}

//Bio Section Styling
.descriptionLong {
    height: 376px;
    margin-bottom: 50px;
    width: 65%;
}

.descriptionShort {
    height: 150px;
    margin-bottom: 50px;
    width: 65%;
}

.descriptionText {
    background-color: $pageColor-lightest;
    border-radius: 5px;
    height: 80%;
    margin-top: 10px;
    overflow: auto;
    padding: 5px;
}


//Side information table styling
#infoTable {
    background-color: $pageColor-lightest;
    border: 2px solid $pageColor-dark;
    border-radius: 5px;
    float: right;
    height: 400px;
    margin-bottom: 50px;
    min-height: 400px;
    width: 25%;

    .itHeadingCol {
        font-weight: 600;
        width: 40%;
    }
    
    .itInfoCol {
        width: 60%;
    }
    
    .itImageRow {
        height: 160px;
        text-align: center;

        .itImage {
            border: 1px solid $pageColor-dark;
            height: 150px;
            width: 150px;
        }
    }
}

.properName {
    font-style: italic;
}

.referencesList {
    background-color: $pageColor-lightest;
    border-radius: 5px;
    margin-top: 10px;
    padding: 5px;
    overflow-wrap: break-word;
}

.text {
    color: $pageColor-dark;
}

// Music Contributors Section Styling
.contributorSection {
    margin-bottom: 50px;
    width: 65%;
}

.contributorTable {
    background-color: $pageColor-lightest;
    border: 2px double $pageColor-dark;
    margin-top: 10px;
    margin-bottom: 20px;
    width: 100%;

    .ctName {
        width: 50%;
    }
    
    .ctRole {
        width: 50%;
    }    
}

//Media query for devices or screens of 1680px in length or bigger
@media only screen and (min-width: 1680px), (min-device-width: 1680px) {
    html {
        font-size: 18px;
    }
}

//Media query for devices or screens of 1200px in length or smaller
@media only screen and (max-width: 1200px), (max-device-width: 1200px) {
    .descriptionLong {
        width: 60%;
    } 

    .descriptionShort {
        width: 60%;
    }

    #infoTable {
        width: 30%;
    }

    .contributorSection {
        width: 60%;
    }
}

//Media query for devices or screens of 768px in length or smaller
@media only screen and (max-width: 768px), (max-device-width: 768px) {

    .descriptionLong {
        clear: both;
        height: initial;
        margin: 50px auto;
        width: 90%;
    }

    .descriptionShort {
        clear: both;
        height: initial;
        margin-left: auto; 
        margin-right: auto;
        width: 90%;
    }

    #infoTable {
        height: initial;
        margin-bottom: 50px;
        margin-left: 15%;
        margin-right: 15%;
        width: 70%;
    }

    .contributorSection {
        margin: 50px auto;
        width: 90%;
    }
}

//Media query for devices or screens of 414px in length or smaller
@media only screen and (max-width: 414px), (max-device-width: 414px) {

    h1 {
        font-size: 1.25rem;
    }

    .backLink {
        font-size: 1rem;
        padding: 6px 25px;
    }
}
