@font-face {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Nunito Regular"), local("Nunito-Regular"), url(https://fonts.gstatic.com/s/nunito/v12/XRXV3I6Li01BKofINeaBTMnFcQ.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+22255, U+FEFF, U+FFFD;
}
#gameTable, #composerTable {
  align-content: space-between;
  background-color: #394d60;
  border: 2px solid #1c2630;
  display: inline-flex;
  flex-wrap: wrap;
  margin: 10px;
  overflow: auto;
  width: 95%;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #e5ebf0;
  width: 100%;
}

html {
  font-size: 16px;
  font-family: "Nunito", sans-serif;
}

header {
  background-color: #557391;
  box-shadow: 0 5px 5px #394d60;
  height: 40px;
  padding: 20px 5px;
  margin: 0 auto 50px;
}

h1, h2, h3, p {
  color: #1c2630;
}

h1 {
  border-bottom: 1px solid #1c2630;
  display: inline-block;
  font-size: 2rem;
  height: 40px;
  margin-left: 10px;
}

h2 {
  font-size: 1.5rem;
  height: 40px;
  text-align: center;
}

h3 {
  text-align: center;
}

h4 {
  float: right;
  margin-right: 30px;
}

main {
  margin: 0 auto;
  width: 95%;
}

p {
  margin-bottom: 1rem;
}

.cell {
  background-color: #557391;
  flex-basis: 25%;
  height: 165px;
  text-align: center;
}
.cell .cellName {
  background-color: #eff2f6;
  color: #272234;
  border-radius: 5px;
  display: inline-block;
  text-decoration: none;
  width: 90%;
}
.cell .cellName:hover {
  text-decoration: underline;
}
.cell .cellImage {
  border: 1px solid #1c2630;
  height: 100px;
  margin-top: 5px;
  width: 100px;
}

.cell:nth-child(8n+1), .cell:nth-child(8n+3) {
  background-color: #8fa6bd;
}

.cell:nth-child(8n+6), .cell:nth-child(8n+8) {
  background-color: #8fa6bd;
}

#composerSection {
  background-color: #8fa6bd;
  border: 2px solid #1c2630;
  border-radius: 10px;
  float: left;
  margin-bottom: 50px;
  min-height: 559px;
  padding: 10px 15px;
  width: 45%;
}

#footerSection {
  background-color: #8fa6bd;
  border: 2px solid black;
  border-radius: 10px;
  clear: both;
  margin: 30px auto;
  padding: 10px 15px;
}

#footerText {
  background-color: #eff2f6;
  border-radius: 5px;
  padding: 5px;
  margin: 10px;
}

#gameSection {
  background-color: #8fa6bd;
  border: 2px solid #1c2630;
  border-radius: 10px;
  float: right;
  margin-bottom: 50px;
  min-height: 559px;
  padding: 10px 15px;
  width: 45%;
}

@media only screen and (max-width: 1150px) {
  #composerSection {
    width: 70%;
    margin-left: 12.5%;
    margin-right: 17%;
  }

  #gameSection {
    float: left;
    width: 70%;
    margin-left: 12.5%;
    margin-right: 17%;
  }

  header {
    height: 80px;
  }

  h1 {
    width: 450px;
  }
}
@media only screen and (max-width: 725px) {
  .cell {
    flex-basis: 33.33%;
  }

  .cell:nth-child(4n+6), .cell:nth-child(4n+8) {
    background-color: #557391;
  }

  .cell:nth-child(8n+1), .cell:nth-child(8n+3) {
    background-color: #557391;
  }

  .cell:nth-child(2n) {
    background-color: #8fa6bd;
  }
}
@media only screen and (max-device-width: 500px) {
  html {
    font-size: 12px;
  }
}

/*# sourceMappingURL=index.css.map */
