@font-face {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Nunito Regular'), local('Nunito-Regular'), url(https://fonts.gstatic.com/s/nunito/v12/XRXV3I6Li01BKofINeaBTMnFcQ.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+22255, U+FEFF, U+FFFD;
}

//Variables
$pageColor-lightest: hsl(255,26%,95%);      //Name background colour
$pageColor-light: hsl(255,26%,65%);         //Accent colour
$pageColor-medium: hsl(255,26%,45%);        //Accent colour
$pageColor-dark: hsl(255,26%,30%);          //Colour used for creating a box-shadow effect and as an accent colour
$pageColor-darkest: hsl(255, 26%, 15%);     //Colour used for text

//Placeholders
%table {
    align-content: space-between;
    background-color: $pageColor-dark;
    border: 2px solid $pageColor-darkest;
    display: inline-flex;
    flex-wrap: wrap;
    margin: 10px;
    overflow: auto;
    width: 95%;
}

//Tag Selectors
* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
}

html {
    font-size: 16px;
    font-family: 'Nunito', sans-serif;
}

header {
    background-color: $pageColor-medium;
    box-shadow: 0 5px 5px $pageColor-dark;
    height: 40px;
    padding: 20px 5px;
    margin: 0 auto 50px;
}

h1, h2, h3, p {
    color: $pageColor-darkest;
}

h1 {
    border-bottom: 1px solid $pageColor-darkest;
    display: inline-block;
    font-size: 2rem;
    height: 40px;
    margin-left: 10px;
}

h2 {
    font-size: 1.5rem;
    height: 40px;
    text-align: center;
}

h3 {
    text-align: center;
}

h4 {
    float: right;
    margin-right: 30px;
}

//Class Selectors
.cell {
    background-color: $pageColor-medium;
    flex-basis: 25%;
    height: 165px;
    text-align: center;

    .cellName {
        background-color: $pageColor-lightest;
        color: hsl(255,21%,17%);
        border-radius: 5px;
        display: inline-block;
        text-decoration: none;
        width: 90%;
    
        &:hover {
            text-decoration: underline;
        }
    }
    
    .cellImage {
        border: 1px solid $pageColor-darkest;
        height: 100px;
        margin-top: 5px;
        width: 100px;
    }
}

//Styling function to alternate table cell colours
.cell:nth-child(8n + 6), .cell:nth-child(8n + 8) {
    background-color: $pageColor-light;
}

//Styling function to alternate table cell colours
.cell:nth-child(8n + 1), .cell:nth-child(8n + 3) {
    background-color: $pageColor-light;
}

//ID Selectors
#composerSection {
    background-color: $pageColor-light;
    border: 2px solid $pageColor-darkest;
    border-radius: 10px;
    float: left;
    min-height: 500px;
    padding: 10px 15px;
    margin: 10px;
    width: 45%;
}

#composerTable {
    @extend %table;
}

#gameSection {
    background-color: $pageColor-light;
    border: 2px solid $pageColor-darkest;
    border-radius: 10px;
    float: right;
    padding: 10px 15px;
    margin: 10px;
    min-height: 500px;
    width: 45%;
}

#gameTable {
    @extend %table;
}

//Media Queries
@media only screen and (max-width: 1150px) {

    #composerSection {
        width: 70%;
        margin-left: 12.5%;
        margin-right: 17%;
        margin-bottom: 30px;
    }

    #gameSection {
        float: left;
        width: 70%;
        margin-left: 12.5%;
        margin-right: 17%;
    }


    header { 
        height: 80px;
    }

    h1 {
        width: 450px;
    }
}

@media only screen and (max-width: 725px) {
    .cell {
        flex-basis: 33.33%;
    }

    .cell:nth-child(4n + 6), .cell:nth-child(4n + 8) {
        background-color: $pageColor-medium;
    }
    
    .cell:nth-child(8n + 1), .cell:nth-child(8n + 3) {
        background-color: $pageColor-medium;
    }

    .cell:nth-child(2n) {
        background-color:$pageColor-light;
    }
}

//Query specific to devices with small screens
@media only screen and (max-device-width: 500px) {
    html {
        font-size: 12px;
    }
}